<div class="navbar bg-base-100 shadow-sm">
    <div class="navbar-start">
        <a href="/"
           hx-boost="true"
            class="btn btn-ghost text-xl">
            <img src="/assets/RouteForce-logo.png" 
                 class="!h-10 w-auto"
                 alt="Route Force Logo" >
            </a>
    </div>
</div>

@code {
    
}